@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}


.swiper-button-next,
.swiper-button-prev {
  color: black;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: -600px; /* աջից հեռու */
}

.swiper-button-prev {
  left: -48px; /* ձախից հեռու */
}